html, body {
  /* max-width: 100%; */
  position: relative;
  overflow-x: hidden;
}

.title{
  font-size: 2.5rem;
  font-weight: 500;
  border-bottom: .1rem solid #ccc;
  padding: 5% 0 3%;
}

.beginning-p{
  padding-top: 3%;
}

p,li{
  font-family: "Poppins", serif;
  color: #4f5050;
  line-height: 1.7rem;
}

.nav-tab{
  top: 50px;
  position: fixed;
}

.nav-item{
  padding-left: 10px;
  padding-bottom: 10px;
}

#main-doc{
  margin: 0 3%;
}

#navbar{
  background-color: #f2f2f2;
  overflow-y: scroll; /* vertical scroll */
}

.header-cloud-image{
  width: 120px;
  height: 120px;
  margin-bottom: 15%;
}

.topic{
  display: inline-block;
  font-size: 2.3rem;
  font-weight: bold;
  color: #4477ff;
}
.intro-cloud-image{
  width: 30%;
  display: block;
  margin: auto;
}

.cloud-service-image{
  width: 70%;
  display: block;
  margin: auto;
}
.source-text{
  display: block;
  text-align: center;
}
.content-caption{
  color: #958f87;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 15px;
}
.cloud-model-image{
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 3%;
}
.EC2-image, .S3-image{
  width: 50%;
  display: block;
  margin: auto;
}

code{
  display: block;
  padding: 0.5em;
  background-color: #fafafa;
  line-height: 2;
}
span{
  color: #a626a4;
}

@media (max-width: 575.98px) {
#navbar{
  font-size: .8rem;
}

.header-cloud-image{
  width: 90px;
  height: 90px;
}

.topic{
  font-size: 1.6rem;
}
}
